<!doctype html>
<html lang="en">

<head th:replace="layout :: head (title='Dashboard')">
</head>

<body>
    <nav th:replace="layout :: navbar">Navbar</nav>
    <div class="container-fluid h-100">
        <div class="row h-100 flex-nowrap">
            <nav th:replace="layout :: sidebar">Sidebar</nav>

            <div class="col">
                <h1 class="text-center p-3">Dashboard</h1>
                <h2>Hello
                    <b th:text="${user.name}">Username</b>!
                </h2>
                <p>
                    You belongs to groups:
                    <span th:each="group: ${userGroups}" th:text="${group.name}">
                    </span>
                </p>
                <div class="pt-4">
                    <h3>Spendings by category:</h3>
                    <div class="col-4">
                        <canvas id="category-chart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="layout :: scripts">Scripts</th:block>
    <script type="text/javascript" th:src="@{/js/chart.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dashboard.js}"></script>

</body>

</html>