<!doctype html>
<html lang="en">

<head th:replace="layout :: head (title='Groups')">
</head>

<body>
    <nav th:replace="layout :: navbar">Navbar</nav>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <nav th:replace="layout :: sidebar">Sidebar</nav>

            <div class="col">
                <h1 class="text-center p-3">Groups</h1>
                <div class="card">
                    <div th:each="group: ${allGroups}" class="card-body">
                        <div th:if="${#lists.contains(userGroups, group)}">
                            <a th:href="@{|/groups/show/${group.id}|}" th:text="${group.name}">Group name</a>
                            <span class="badge badge-info">
                                Member
                            </span>
                            <form method="POST" th:action="@{/groups/leave}">
                                <input type="hidden" name="groupId" th:value="${group.id}" />
                                <button type="submit" class="btn btn-success">Leave</button>
                            </form>
                        </div>
                        <div th:if="${not #lists.contains(userGroups, group)}">
                            <span th:text="${group.name}">Group name</span>
                            <form method="POST" th:action="@{/groups/join}">
                                <input type="hidden" name="groupId" th:value="${group.id}" />
                                <button type="submit" class="btn btn-success">Join</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="layout :: scripts">Scripts</th:block>
</body>

</html>