<!doctype html>
<html lang="en">

<head th:replace="layout :: head (title='Groups')">
</head>

<body>
<nav th:replace="layout :: navbar">Navbar</nav>
<div class="container-fluid h-100">
    <div class="row h-100">
        <nav th:replace="layout :: sidebar">Sidebar</nav>

        <div class="col-md-9">
            <h1 class="text-center p-3">Dashboard</h1>
            <p>Hello
                <span th:text="${user.name}">Username</span>
            </p>

            <span th:each="group: ${userGroups}">
                    <span th:text="${group.name}"></span>
                </span>
        </div>
    </div>
</div>
<th:block th:replace="layout :: scripts">Scripts</th:block>
</body>

</html>