<!doctype html>
<html lang="en">

<head th:replace="layout :: head (title='Group')">
</head>

<body>
    <nav th:replace="layout :: navbar">Navbar</nav>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <nav th:replace="layout :: sidebar">Sidebar</nav>

            <div class="col p-4">
                <h1 class="text-center p-3">Group:
                    <span th:text="${group.name}"></span>
                </h1>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            Members:
                            <span th:each="member: ${group.members}" th:text="${member.username}" class="badge badge-pill badge-info m-1">Username</span>
                        </div>
                        <div>
                            Balance:
                            <b class="m-1" id="balance" th:text="${balance}">Your balance</b>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <i class="fa fa-2x fa-plus-circle text-success p-2" aria-hidden="true" onclick="openModal('#addSpendingModal')"></i>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped mt-2">

                            <thead>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Paid by</th>
                                <th>Category</th>
                                <th class="text-right">Action</th>
                            </thead>

                            <tbody id="spending-body">
                                <tr th:each="spending: ${spendings}">
                                    <td th:text="${#dates.format(spending.date, 'dd-MM-yyyy HH:mm')}">Date</td>
                                    <td th:text="${spending.amount}">Amount</td>
                                    <td th:text="${spending.description}">Description</td>
                                    <td th:text="${spending.paidByUser.username}">Paid by</td>
                                    <td th:text="${spending.category.name}">Category</td>
                                    <td class="text-right">
                                        <i th:onclick="'deleteSpending(\'' + ${group.id} + '\',\'' + ${spending.id} + '\');'" class="fa fa-minus-circle text-danger"></i>
                                        <i class="fa fa-pencil-square"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addSpendingModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add spending</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="POST" class="form-group">
                        <div> Amount:
                            <input type="number" id="amount" class="form-control form-inline">
                        </div>
                        <div> Description:
                            <input type="text" id="description" class="form-control form-inline">
                        </div>
                        <div> Category:
                            <select type="text" id="category" class="form-control form-inline">
                                <option value="Grocery">Grocery</option>
                                <option value="Restaurant">Restaurant</option>
                                <option value="Holiday">Holiday</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" th:onclick="'saveSpending(\'' + ${group.id} + '\');'">
                        Add</button>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="layout :: scripts">Scripts</th:block>
    <script type="text/javascript" th:src="@{/js/group.js}"></script>
</body>

</html>