<!doctype html>
<html lang="en">

<head th:replace="layout :: head (title='Group')">
</head>

<body>
    <nav th:replace="layout :: navbar">Navbar</nav>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <nav th:replace="layout :: sidebar">Sidebar</nav>

            <div class="col-md-9">
                <h1 class="text-center p-3">Group:
                    <span th:text="${group.name}"></span>
                </h1>
                <div class="row">
                    <div class="col-md-12">
                        Members:
                        <span th:each="member: ${group.members}" th:text="${member.username}" class="badge badge-info">Username</span>
                    </div>
                    <div class="col-md-12">
                        Balance:
                        <span th:text="${balance}">Your balance</span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" onclick="openModal()">
                            Add spending
                        </button>
                    </div>
                    <div class="col-md-12">
                        Spendings:
                        <table>

                            <head>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Paid by</th>
                            </head>

                            <body>
                                <tr th:each="spending: ${group.spendings}">
                                    <td th:text="${spending.date}">Date</td>
                                    <td th:text="${spending.amount}">Amount</td>
                                    <td th:text="${spending.paidByUser.username}">Paid by</td>
                                </tr>
                            </body>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addSpendingModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <form action="POST">
                       Amount: <input type="text" id="amount">
                   </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveSpending()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var groupId = /*[[${group.id}]]*/ 1;
    </script>

    <th:block th:replace="layout :: scripts">Scripts</th:block>
    <script type="text/javascript" th:src="@{/js/group.js}"></script>
</body>

</html>