<!doctype html>
<html lang="en">

<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title th:text="${title + ' | Spending splitter'}">Default title</title>
</head>

<body>

    <nav th:fragment="navbar" class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/dashboard}">SPENDING SPLITTER</a>
        <a class="navbar-toggler pull-right" th:href="@{/logout}" sec:authorize="isAuthenticated()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Logout
        </a>
    </nav>
    <h1>Layout page</h1>

    <nav th:fragment="sidebar" class="bg-light border-right p-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/dashboard}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/groups/list}">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Groups
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link active" th:href="@{/category/list}">
                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                        Categories
                    </a>
                </li>
            </ul>
    </nav>

    <th:block th:fragment="scripts">
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
    </th:block>
</body>

</html>